<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <div class='container-lg'>
      <nav class='nav'>
        <div class='row justify-content-start'>
          <div class='col-auto'>
            <a mat-raised-button routerLink="/">
              Home
            </a>
          </div>
          <div class='col-auto'>
            <a mat-raised-button routerLink="/news">
              News
            </a>
          </div>
          <div class='col-auto'>
            <a mat-raised-button routerLink="/books">
              books
            </a>
          </div>
        </div>
      </nav>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
