@import "node_modules/bootstrap/scss/bootstrap-utilities";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
  height: 100%;
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
